*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%; }

body, ul, li, input {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto"; }

ul {
  list-style: none; }

li {
  text-decoration: none; }

.body-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #124e78; }

.lyric-letter-container {
  flex: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.lyric-letter, .used-letter {
  color: #f0f0c9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2bb05;
  background-color: #f0f0c9;
  box-shadow: 0 4px 8px 0 #181818;
  font-size: 3em;
  width: 70px;
  height: 100px;
  margin: .5%; }

.guess-area-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.used-letter-container {
  flex: 2;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.used-letter {
  color: #6e0e0a; }

.guess-area-container input {
  background-color: #f0f0c9;
  font-family: "Roboto";
  color: #181818;
  border-color: #f2bb05;
  min-height: 70px;
  width: 250px;
  font-size: 2em;
  padding-left: 0px;
  text-align: center; }

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #6e0e0a;
  box-shadow: 0 4px 8px 0 #181818;
  color: #f0f0c9;
  font-size: 2em;
  border-radius: 50%;
  margin: 0 25px; }

.header-section {
  display: flex;
  height: 75px;
  background-color: #d74e09;
  border-bottom: #f2bb05 2px solid;
  border-top: #f2bb05 2px solid; }
  .header-section nav, .header-section ul {
    display: flex;
    flex: 1; }

.header-section li {
  color: #f0f0c9;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 3; }

#play-button {
  background-color: #124e78;
  margin: 4px;
  border: 4px solid #f0f0c9; }

.footer-section {
  height: 50px;
  background-color: #f0f0c9;
  border-top: #d74e09 2px solid; }

.footer {
  display: flex;
  flex-direction: row;
  height: 100%; }

.footer-info {
  font-variant: small-caps;
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #d74e09; }

#correct-guess-modal {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 11;
  background-color: black;
  min-height: 100vh;
  min-width: 100%;
  padding: 75px; }

#about-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 11;
  background-color: black;
  opacity: .75;
  min-height: 100vh;
  min-width: 100%;
  padding: 75px; }

.modal-text-section {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #f0f0c9; }

.modal-content {
  background-color: #f0f0c9;
  display: flex;
  justify-content: center;
  align-items: center; }

.artist-card-base {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.artist-image {
  height: 400px;
  width: 400px;
  border-radius: 50%; }
  .artist-image#tay {
    background: url("../assets/tay.jpg") center/cover; }
  .artist-image#greg {
    background: url("../assets/greg.jpg") center/cover; }

/*# sourceMappingURL=styles.css.map */
