.body-section{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $background-color-dark;
}

.lyric-letter-container {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lyric-letter,.used-letter {
  color: $font-color-lightest;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $background-color-alert;
  background-color: $background-color-main;
  box-shadow: 0 4px 8px 0 $background-color-darkest;
  font-size: 3em;
  width: 70px;
  height: 100px;
  margin: .5%;
}

.guess-area-container {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.used-letter-container {
  display: flex;
  flex-direction: row;
}

.used-letter {
  color: $font-color-alert;
}
