$background-color-dark: rgba(18, 78, 120, 1);
$background-color-main: rgba(240, 240, 201, 1);
$background-color-alert: rgba(242, 187, 5, 1);
$color4: rgba(215, 78, 9, 1);
$color5: rgba(110, 14, 10, 1);
