$background-color-dark: rgba(18, 78, 120, 1);
$background-color-main: rgba(240, 240, 201, 1);
$background-color-alert: rgba(242, 187, 5, 1);
$background-color-navbar: rgba(215, 78, 9, 1);
$background-color-attention: rgba(110, 14, 10, 1);

$font-color-base: rgba(215, 78, 9, 1);
$font-color-alert: rgba(110, 14, 10, 1);
$font-color-light: rgba(169, 169, 169, 1);
$font-color-lightest: rgba(240, 240, 201, 1);
$font-color-dark: rgba(24, 24, 24, 1);
