.header-section{
  display: flex;
  height: 75px;
  background-color: $background-color-navbar;
  border-bottom: $background-color-alert 2px solid;
  border-top: $background-color-alert 2px solid;

  nav, ul {
    display: flex;
    flex: 1;
  }
}

.header-section li{
  color: $font-color-lightest;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 3;
}

#play-button {
  background-color: $background-color-dark;
  margin: 4px;
  border: 4px solid $background-color-main;
}
